# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
**/android/app/build/
**/android/.gradle/
**/ios/Pods/
**/ios/.symlinks/

# Generated binaries & archives
*.apk
*.aab
*.so
*.dex
*.bin
*.tar.gz
*.zip
*.log

# Node modules
node_modules/
backend/functions/node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv
venv/
ENV/
env/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Test Reports
*.xlsx
frontend/frontend_test/Frontend_Test_Report_*.xlsx
backend/automated_test/Backend_Test_Report_*.xlsx
frontend/apium testing/E2E_Test_Report_*.xlsx
