# Copy this file to .env and fill in your values
APP_PACKAGE=com.eventsphere.app
APP_ACTIVITY=.MainActivity
DEVICE_NAME=emulator-5554
PLATFORM_VER=12.0

TEST_EMAIL=customer@test.com
TEST_PASSWORD=Test@1234

VENDOR_EMAIL=vendor@test.com
VENDOR_PASS=Test@1234

ADMIN_EMAIL=admin@eventsphere.com
ADMIN_PASS=Admin@1234
